<h2><%= lista[:name] %></h2>
<p><a href="/muokkaalistaa/<%= lista[:id] %>">Muokkaa listaa</a></p>
<% unless tuotteet.empty? %>
  <ul>
  <% tuotteet.each do |tuote| %>
    <li><%= tuote[:name] %> <a href="/poistalistalta/<%= lista[:id] %>/<%= tuote[:id] %>">[poista]</a></li>
  <% end %>
  </ul>
<% else %>
  <p>Ei tuotteita listalla</p>
<% end %>
<form action="lista/<%= lista[:id] %>" method="POST">
  <fieldset>
    <legend>Uusi tuote listaan</legend>
    <label for="tuote">Tuotteen nimi:</label>
    <input id="tuote" name="tuote" type="text" />
    <input type="submit" value="Lis채채 tuote" />
  </fieldset>
</form>
<p><a href="/listat">N채yt채 kaikki ostoslistat</a></p>
